.card {
    width: 20vw;
    margin: 5vh;
    display: inline-block;
    align-self: stretch;
}

.info  {
    background-color: brown;
    color: azure;
    text-align: center;
    padding: 6px 0;
}

.info img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.detailsButton {
    text-decoration: none;
    cursor:pointer;
}