.card {
    background-color:brown;
    color:azure;
    width: 65vw;
    margin: 5vh;
    text-align: center;
}

.info img {
    /* height: 100%; 
    width: 100%; 
    object-fit: contain; */
    /* margin-top: -10px; */
    /* border-radius: 50%; */
    /* height: 140px; */
    /* position: absolute; */
    /* top: 30px;
    right: 30px; */
    float: right;
    padding: 5px;
    /* width: 140px; */
    max-width: 100%; height: auto;
}